@font-face {
    font-family: Visang_e_HT;
    src: url(/content/mathalive_lib/font/Visang_e_HT.woff) format("woff");
}

@font-face {
    font-family: Visang_e_HT;
    font-weight: bold;
    src: url(/content/mathalive_lib/font/Visang_e_HT_Bold.woff) format("woff");
}

@font-face {
    font-family: NotoSans_bold;
    font-weight: bold;
    src: url(/content/mathalive_lib/font/NotoSans-Bold.woff) format("woff");
}

@font-face {
    font-family: NotoSans_light;
    font-weight: lighter;
    src: url(/content/mathalive_lib/font/NotoSans-Light.woff) format("woff");
}

@font-face {
    font-family: NotoSans-Regular;
    src: url(/content/mathalive_lib/font/NotoSans-Regular.woff) format("woff");
}

@font-face {
    font-family: NotoSans-Black;
    src: url(/content/mathalive_lib/font/NotoSansCJKkr-Black.woff) format("woff");
}

@font-face {
    font-family: NotoSans;
    /* src: url(/content/mathalive_lib/font/NotoSansCJKkr-Medium.woff) format('woff'); */
    src: url(/content/mathalive_lib/font/NotoSansCJK-Medium-en.woff) format("woff");
}

@font-face {
    font-family: HelveticaRounded;
    font-weight: bold;
    src: url(/content/mathalive_lib/font/HelveticaRounded-Bold.woff) format("woff");
}

@font-face {
    font-family: HelveticaRoundedLTStd;
    font-weight: bold;
    src: url(/content/mathalive_lib/font/HelveticaRoundedLTStd-Bd.woff) format("woff");
}

@font-face {
    font-family: Maplestory-Bold;
    font-weight: bold;
    src: url(/content/mathalive_lib/font/Maplestory-Bold.woff) format("woff");
}

@font-face {
    font-family: Maplestory-Light;
    font-weight: bold;
    src: url(/content/mathalive_lib/font/Maplestory-Light.woff) format("woff");
}

@charset "UTF-8";
#common_navi_left {
    left: 0;
    position: absolute;
    display: table;
    width: auto;
    top: 0px;
    height: 100%;
    pointer-events: none;
    transition: left 0.5s, right 0.5s;
    /* transition-property: left right; */
    z-index: 20;
}

#common_navi_left > div {
    width: auto;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

#common_navi_left > div > div {
    position: relative;
    width: auto;
    height: auto;
    vertical-align: middle;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0);
}

#common_navi_left.off {
    left: -66px;
}

#common_navi_left.off button.left {
    pointer-events: none;
}

#common_navi_left.off button.right {
    pointer-events: none;
}

#common_navi_left button.left {
    display: block;
    margin-top: -20px;
    margin-bottom: 0;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/mathalive_lib/images/page_left_L.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 94px;
    pointer-events: unset;
    cursor: pointer;
}

#common_navi_left button.left:disabled {
    background-image: url("/content/mathalive_lib/images/page_left_L_dis.png");
    pointer-events: none;
    cursor: auto;
}

#common_navi_left button.left.down {
    background-image: url("/content/mathalive_lib/images/page_left_L.png");
}

#common_navi_left button.left:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/mathalive_lib/images/page_left_L.png") url("/content/mathalive_lib/images/page_left_L.png") url("/content/mathalive_lib/images/page_left_L_dis.png");
}

#common_navi_left button.right {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: auto;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/mathalive_lib/images/page_right_L.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 94px;
    pointer-events: unset;
    cursor: pointer;
}

#common_navi_left button.right:disabled {
    background-image: url("/content/mathalive_lib/images/page_right_L_dis.png");
    pointer-events: none;
    cursor: auto;
}

#common_navi_left button.right.down {
    background-image: url("/content/mathalive_lib/images/page_right_L.png");
}

#common_navi_left button.right:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/mathalive_lib/images/page_right_L.png") url("/content/mathalive_lib/images/page_right_L.png") url("/content/mathalive_lib/images/page_right_L_dis.png");
}

#common_navi_right {
    right: 0;
    position: absolute;
    display: table;
    width: auto;
    top: 0px;
    height: 100%;
    pointer-events: none;
    transition: left 0.5s, right 0.5s;
    /* transition-property: left right; */
    z-index: 20;
}

#common_navi_right > div {
    width: auto;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

#common_navi_right > div > div {
    position: relative;
    width: auto;
    height: auto;
    vertical-align: middle;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0);
}

#common_navi_right.off {
    right: -66px;
}

#common_navi_right.off button.left {
    pointer-events: none;
}

#common_navi_right.off button.right {
    pointer-events: none;
}

#common_navi_right button.left {
    display: block;
    margin-top: -20px;
    margin-bottom: 0;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/mathalive_lib/images/page_left_R.png");
    background-repeat: no-repeat;
    width: 74px;
    height: 94px;
    pointer-events: unset;
    cursor: pointer;
}

#common_navi_right button.left:disabled {
    background-image: url("/content/mathalive_lib/images/page_left_R_dis.png");
    pointer-events: none;
    cursor: auto;
}

#common_navi_right button.left.down {
    background-image: url("/content/mathalive_lib/images/page_left_R.png");
}

#common_navi_right button.left:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/mathalive_lib/images/page_left_R.png") url("/content/mathalive_lib/images/page_left_R.png") url("/content/mathalive_lib/images/page_left_R_dis.png");
}

#common_navi_right button.right {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: auto;
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/mathalive_lib/images/page_right_R.png");
    background-repeat: no-repeat;
    width: 74px;
    height: 94px;
    pointer-events: unset;
    cursor: pointer;
}

#common_navi_right button.right:disabled {
    background-image: url("/content/mathalive_lib/images/page_right_R_dis.png");
    pointer-events: none;
    cursor: auto;
}

#common_navi_right button.right.down {
    background-image: url("/content/mathalive_lib/images/page_right_R.png");
}

#common_navi_right button.right:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/mathalive_lib/images/page_right_R.png") url("/content/mathalive_lib/images/page_right_R.png") url("/content/mathalive_lib/images/page_right_R_dis.png");
}

/* 스크롤이 들어갈만한 컨텐츠 */
/* grade domain 내의 topic */
/* grade 내의 module1 ... 부분들의 제목 */
/* grade domain 제목 옆의 캐럿 클릭시 나타나는 드롭다운 메뉴 */
/* 검색결과의 타이틀 */
@keyframes arrowMove {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: transparent;
}

#wrap > .content-container {
    width: 1280px;
    height: 800px;
    overflow: hidden;
    position: absolute;
}

#wrap > .content-container .content-wrapper {
    position: relative;
    white-space: nowrap;
    width: auto;
    height: 800px;
    transition: left 0.3s;
    transition-timing-function: ease-in;
}

#wrap > .content-container .content-wrapper > div {
    position: relative;
    display: inline-block;
    white-space: unset;
    width: 1280px;
    height: 800px;
    overflow: hidden;
}

#wrap > .content-container .content-wrapper .sub-container .sub-wrapper {
    position: relative;
    white-space: nowrap;
    width: auto;
    height: 800px;
    transition: left 0.3s;
    transition-timing-function: ease-in;
}

#wrap > .content-container .content-wrapper .sub-container .sub-wrapper > div {
    position: relative;
    display: inline-block;
    white-space: unset;
    width: 1280px;
    height: 800px;
    overflow: hidden;
}

#wrap > .content-container.hide {
    opacity: 0;
    pointer-events: none;
}

#wrap .video-direction {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/content/mathalive_lib/MA/summary/common/bg_direction.jpg");
}

#wrap .video-direction > div.direction {
    position: absolute;
    transform: translateY(100px);
    transition: transform 0.5s ease-out, opacity 0.5s;
    opacity: 0;
}

#wrap .video-direction.on > div.direction {
    transform: translateY(0px);
    opacity: 1;
}

#wrap .video-direction .direction_top_menu {
    position: fixed;
    top: 18px;
    left: 20px;
    width: 40px;
    height: 31px;
    border: 0;
    background: url("/content/mathalive_lib/images/ico_video_top_menu.png");
    z-index: 100;
}

#wrap .video-direction .direction_left_menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 30;
}

#wrap .video-direction .direction_left_menu.show {
    display: block;
}

#wrap .video-direction .direction_left_menu .innerbox {
    width: 354px;
    height: 100%;
    background-color: #394ec0;
}

#wrap .video-direction .direction_left_menu .innerbox .close {
    padding: 43px 25px 0 0;
    text-align: right;
}

#wrap .video-direction .direction_left_menu .innerbox .close .btn_close {
    width: 30px;
    height: 31px;
    border: 0;
    background: url("/content/mathalive_lib/images/ico_video_menu_close.png");
}

#wrap .video-direction .direction_left_menu .innerbox ul {
    padding: 40px 0 0 30px;
}

#wrap .video-direction .direction_left_menu .innerbox ul li {
    margin-bottom: 38px;
    padding-left: 80px;
    height: 42px;
    line-height: 42px;
    font-family: "Maplestory-Bold";
    color: #fff;
    font-size: 28px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#wrap .video-direction .direction_left_menu .innerbox ul li:nth-of-type(1) {
    background-image: url("/content/mathalive_lib/images/ico_video_menu_lesson.png");
}

#wrap .video-direction .direction_left_menu .innerbox ul li:nth-of-type(2) {
    background-image: url("/content/mathalive_lib/images/ico_video_menu_endclass.png");
}

#wrap .video-direction .direction_left_menu .innerbox ul li:nth-of-type(3) {
    background-image: url("/content/mathalive_lib/images/ico_video_menu_logout.png");
}

#wrap .video-direction .concept_name {
    position: absolute;
    left: 80px;
    top: 19px;
    font-size: 28px;
    color: #fff;
    font-family: "Maplestory-Bold";
    z-index: 10;
}

#wrap .video-direction .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 800px;
}

#wrap .video-direction .progress_dot {
    position: absolute;
    right: 0;
    top: 0;
    height: 67px;
    padding: 25px 10px 0  0;
    text-align: center;
    z-index: 10;
}

#wrap .video-direction .progress_dot span {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0 5px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#wrap .video-direction .progress_dot span.on {
    background-color: #f5e942;
}

#wrap .video-direction .text {
    font-family: "maplestory-bold";
    white-space: normal;
    /* 210520 2�� ���� �߰� */
}

#wrap .video-direction .text .t1 {
    font-size: 35px;
    color: #fff;
    height: 39px;
}

#wrap .video-direction .text .t2 {
    margin-top: 6px;
    font-size: 81px;
    color: #f5e942;
    word-break: keep-all;
    /* 210520 2�� ���� �߰� */
}

#wrap .video-direction.hide > div.direction {
    visibility: hidden;
}

#wrap .video-direction.loaded > video {
    opacity: 1;
}

#wrap .video-direction .course .title, #wrap .video-direction .course .concept {
    position: absolute;
    width: 200px;
    height: 100px;
    padding-top: 17px;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #999;
}

#wrap .video-direction .course .concept span.tit {
    display: block;
    width: 100%;
    float: none;
    color: royalblue;
}

#wrap .video-direction .course .title {
    top: 110px;
    left: 30%;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
}

#wrap .video-direction .course .c1 {
    left: 55%;
    top: 110px;
    border-color: royalblue;
}

#wrap .video-direction .course .c2 {
    left: 75%;
    top: 40%;
    border-color: royalblue;
}

#wrap .video-direction .course .c3 {
    left: 60%;
    top: 70%;
    border-color: coral;
}

#wrap .video-direction .course .black {
    color: #000;
}

#wrap .video-direction .course .type2 {
    padding: 20px 40px 30px;
}

#wrap .video-direction .course .type2 .small-title {
    left: 40px;
    top: -25px;
    color: #ffff;
}

#wrap .video-direction .course.independent .type2 .small-title {
    top: -10px;
    color: #999;
}

#wrap .video-direction > div.direction {
    position: absolute;
    background-image: url("/content/mathalive_lib/MA/summary/common/direction.png");
    width: 397px;
    height: 81px;
    left: calc(50% - 397px/2);
    top: calc(50% - 81px/2);
}

#wrap .video-direction > div.text {
    position: absolute;
    left: 82px;
    top: 395px;
}

#wrap .video-direction > div.text .t2 {
    color: #96f9ff;
}

#wrap .video-direction > div.text_cate {
    position: absolute;
    background-image: url("/content/mathalive_lib/MA/summary/common/text_cate.png");
    width: 234px;
    height: 26px;
    right: 20px;
    top: 15px;
}

#wrap .video-direction > div.lesson {
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 40px;
    color: #fff;
}

#wrap .t_summary .summaryContent {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    background: #fff;
}

#wrap .t_summary .summaryContent .maheader {
    position: absolute;
    top: 0;
    font-family: NotoSans-Regular;
    width: 100%;
    height: 67px;
    padding: 18px 45px 7px;
    background: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    z-index: 50;
}

#wrap .t_summary .summaryContent .maheader .btn_menu {
    float: left;
    width: 40px;
    height: 31px;
    border: 0;
    background: url("/content/mathalive_lib/images/ico_menu.png");
}

#wrap .t_summary .summaryContent .maheader .user {
    float: left;
    margin: -10px 0 0 26px;
}

#wrap .t_summary .summaryContent .maheader .user img {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    border: 2px solid #fff;
    vertical-align: middle;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

#wrap .t_summary .summaryContent .maheader .user .name {
    font-family: "maplestory-bold";
    color: #fff;
    font-size: 22px;
    margin-left: 10px;
    vertical-align: middle;
}

#wrap .t_summary .summaryContent .maheader .live_guage {
    position: absolute;
    right: 20px;
    top: 0;
    width: 260px;
    height: 68px;
}

#wrap .t_summary .summaryContent .maheader .live_guage.twinkle:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/content/mathalive_lib/images/bg_liveguage_twinkle.png") no-repeat;
}

#wrap .t_summary .summaryContent .maheader .live_guage .heart {
    position: absolute;
    left: 16px;
    top: 7px;
    width: 62px;
    height: 56px;
    background: url("/content/mathalive_lib/images/ico_greenheart.png");
    z-index: 1;
}

#wrap .t_summary .summaryContent .maheader .live_guage .bar_wrap {
    position: absolute;
    left: 59px;
    top: 22px;
    width: 145px;
    height: 26px;
    padding: 2px 3px 2px 0;
    border-radius: 0 15px 15px 0;
    background: #fff;
}

#wrap .t_summary .summaryContent .maheader .live_guage .bar_wrap .bar {
    height: 100%;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(90deg, #adda40 0%, #47db1a 100%);
}

#wrap .t_summary .summaryContent .maheader .live_guage .bar_wrap .num {
    position: absolute;
    right: -50px;
    top: 50%;
    font-size: 20px;
    color: #fff;
    font-family: "maplestory-bold";
    transform: translateY(-50%);
}

#wrap .t_summary .summaryContent .maheader .live_guage .bar_wrap .num.overmax {
    color: #ffb400;
    font-size: 24px;
}

#wrap .t_summary .summaryContent .maheader .live_guage .bar_wrap .num.overmax:before {
    content: attr(data-value);
    position: absolute;
    -webkit-text-stroke: 0.2em #fff;
    left: 0;
    z-index: -1;
}

#wrap .t_summary .summaryContent .maheader .btn-out {
    float: left;
    display: block;
    width: 28px;
    height: 28px;
    background: url("/content/mathalive_lib/images/ico_btnback.png") no-repeat center;
    background-size: contain;
    border: 0;
    outline: none;
    cursor: pointer;
}

#wrap .t_summary .summaryContent .maheader .pulldown {
    position: relative;
    float: left;
    width: 250px;
    height: 37px;
    margin: -4px 0 0 24px;
    background-color: #69b707;
    line-height: 34px;
    font-size: 19px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

#wrap .t_summary .summaryContent .maheader .pulldown .tit {
    padding-left: 22px;
}

#wrap .t_summary .summaryContent .maheader .pulldown .btn_arrow {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
    border: 0;
    background: url("/content/mathalive_lib/images/arr_pulldown_hdr.png") no-repeat center;
    outline: none;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content {
    display: none;
    position: absolute;
    top: 57px;
    left: 98px;
    width: 250px;
    height: 400px;
    padding: 20px;
    z-index: 100;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content.on {
    display: block;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content > div {
    position: relative;
    overflow-y: hidden;
    width: 210px;
    height: 360px;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content > div .swiper-container {
    width: 210px;
    height: 360px;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content > div .swiper-container .swiper-slide {
    height: auto;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content > div .swiper-container .swiper-scrollbar {
    width: 7px;
    background-color: transparent;
    right: 1px;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content > div .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: rgba(0, 0, 0, 0.2);
}

#wrap .t_summary .summaryContent .maheader .pulldown_content > div .swiper-container .tit {
    position: relative;
    margin-top: 10px;
    line-height: 34px;
    font-size: 17px;
    font-weight: bold;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content > div .swiper-container .tit:first-child {
    margin-top: 0px;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content > div .swiper-container .tit_sub {
    position: relative;
    font-size: 16px;
    line-height: 32px;
    color: #666;
    padding-left: 25px;
    border-radius: 5px;
    cursor: pointer;
}

#wrap .t_summary .summaryContent .maheader .pulldown_content > div .swiper-container .tit_sub.on,
#wrap .t_summary .summaryContent .maheader .pulldown_content > div .swiper-container .tit_sub:hover {
    background-color: #ebf7d9;
}

#wrap .t_summary .summaryContent .maheader .class_name {
    float: left;
    height: 38px;
    line-height: 35px;
    padding: 0;
    margin-left: 20px;
    margin-top: -4px;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

#wrap .t_summary .summaryContent .maheader .class_name > span {
    padding-left: 24px;
}

#wrap .t_summary .summaryContent .maheader .class_name > span:first-child {
    padding-left: 0;
}

#wrap .t_summary .summaryContent .maheader .class_name > span.now {
    color: #fff007;
}

#wrap .t_summary .summaryContent .maheader .concept_library {
    position: absolute;
    right: 17px;
    top: 11px;
    width: 119px;
    height: 51px;
    padding: 7px 0 0 47px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
    background: #60ac00 url("/content/mathalive_lib/images/ico_concept_library.png") no-repeat 10px center;
    cursor: pointer;
}

#wrap .t_summary .summaryContent .topHeader {
    padding-top: 20px;
    position: relative;
    width: 958px;
    margin: 0 auto;
}

#wrap .t_summary .summaryContent .topHeader .nav {
    text-align: center;
}

#wrap .t_summary .summaryContent .topHeader .nav > div {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #bebebe;
    border-radius: 50%;
    margin: 0 9px;
}

#wrap .t_summary .summaryContent .topHeader .nav > div.on {
    background: #ee473c;
}

#wrap .t_summary .summaryContent .contentWrap {
    width: 100%;
    height: 585px;
    margin-top: 12px;
}

#wrap .t_summary .summaryContent .contentWrap .contentDiv {
    width: 100%;
    height: 100%;
}

#wrap .t_summary .summaryContent .contentWrap .contentDiv > iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
}

#wrap .t_summary .summaryContent .btn_next {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/mathalive_lib/images/btn_next.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 56px;
    pointer-events: unset;
    cursor: pointer;
    position: absolute;
    top: 339px;
    right: 2px;
    z-index: 2;
}

#wrap .t_summary .summaryContent .btn_next:disabled {
    background-image: "";
    pointer-events: none;
    cursor: auto;
}

#wrap .t_summary .summaryContent .btn_next.down {
    background-image: "";
}

#wrap .t_summary .summaryContent .btn_next:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/mathalive_lib/images/btn_next.png") "" "";
}

#wrap .t_summary .summaryContent .btn_prev {
    touch-action: none;
    padding: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url("/content/mathalive_lib/images/btn_prev.png");
    background-repeat: no-repeat;
    width: 36px;
    height: 56px;
    pointer-events: unset;
    cursor: pointer;
    position: absolute;
    top: 359px;
    left: 2px;
    z-index: 2;
}

#wrap .t_summary .summaryContent .btn_prev:disabled {
    background-image: "";
    pointer-events: none;
    cursor: auto;
}

#wrap .t_summary .summaryContent .btn_prev.down {
    background-image: "";
}

#wrap .t_summary .summaryContent .btn_prev:before {
    position: absolute;
    pointer-events: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;
    content: url("/content/mathalive_lib/images/btn_prev.png") "" "";
}

#wrap .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 110;
}

#wrap .loading.hide {
    display: none;
}

#wrap .loading_bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

#wrap .loading_img {
    position: relative;
    width: 177px;
    margin: 240px auto 0;
    text-align: center;
    color: #fff;
    z-index: 10;
    font-size: 28px;
}

#wrap .loading_img .img {
    display: block;
    width: 182px;
    height: 200px;
    margin-bottom: 10px;
    background-image: url("/content/mathalive_lib/images/loading.png");
    animation: loading 1s steps(37) infinite;
}

@keyframes loading {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: -6734px;
    }
}

#wrap .cl_background {
    z-index: 110;
    background-color: #fff;
    display: block;
    font-size: 0;
    height: calc(731px);
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
}

#wrap .cl_background * {
    word-break: keep-all;
}

#wrap .cl_background button {
    font-size: 0px;
    border: 0px;
}

#wrap .cl_background header {
    position: relative;
    width: 1280px;
    height: 69px;
    background: url("/content/mathalive_lib/images/cl_titlebg.jpg");
}

#wrap .cl_background header h1 {
    position: absolute;
    top: 0px;
    left: 22px;
    width: 216px;
    height: 69px;
    line-height: 69px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
}

#wrap .cl_background header form {
    position: absolute;
    top: 22px;
    left: 289px;
    display: block;
    height: 69px;
}

#wrap .cl_background header form > * {
    display: inline-block;
    vertical-align: middle;
}

#wrap .cl_background header form input {
    width: 503px;
    height: 34px;
    border: 0px;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    color: #333333;
    font-size: 19px;
    font-weight: 400;
}

#wrap .cl_background header form input::-webkit-input-placeholder {
    color: #8f8f8f;
    font-weight: 400;
}

#wrap .cl_background header form input::placeholder {
    color: #8f8f8f;
    font-weight: 400;
}

#wrap .cl_background header form button.clear {
    position: absolute;
    top: 3px;
    left: 470px;
    width: 27px;
    height: 27px;
    background: url("/content/mathalive_lib/images/cl_search_clear.jpg");
}

#wrap .cl_background header form button.search_btn {
    width: 39px;
    height: 34px;
    background: url("/content/mathalive_lib/images/cl_search_btn.jpg");
}

#wrap .cl_background header button.closebutton {
    position: absolute;
    top: 18px;
    right: 21px;
    width: 31px;
    height: 31px;
    background: url("/content/mathalive_lib/images/cl_close_btn.jpg");
}

#wrap .leftside {
    width: 478px;
    vertical-align: top;
    font-size: 15px;
    display: none;
}

#wrap .leftside.active {
    display: inline-block;
}

#wrap .rightside {
    width: calc(1280px - 478px);
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    height: calc(639px);
    overflow: overlay;
    height: calc(731px);
}

#wrap .rightside::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

#wrap .rightside::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 5px;
}

#wrap .rightside::-webkit-scrollbar-track {
    background: transparent;
}

#wrap .rightside::-webkit-scrollbar-track-piece {
    background: transparent;
}

#wrap .rightside.full {
    width: 1280px;
    display: block;
}

#wrap .toggle_grade li {
    display: inline-block;
    width: 50%;
}

#wrap .toggle_grade li button {
    width: 100%;
    height: 50px;
    border: 0px;
    color: #ffffff;
    background: #ababab;
    font-size: 23px;
    font-weight: 900;
}

#wrap .toggle_grade li button.domain.active {
    background: #5165c6;
}

#wrap .toggle_grade li button.grade.active {
    background: #38a794;
}

#wrap .submenu_detail.domain {
    position: relative;
    text-align: center;
}

#wrap .submenu_detail.domain strong {
    position: relative;
    display: block;
    z-index: 2;
    width: 100%;
    height: 42px;
    background: #d4d6ee;
    line-height: 42px;
    color: #5165c6;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

#wrap .submenu_detail.domain .toggler {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 18px;
    height: 18px;
    background: url("/content/mathalive_lib/images/cl_carrot_blue.jpg");
    transform-origin: center center;
    z-index: 3;
}

#wrap .submenu_detail.domain .toggler.active {
    transform: rotate(-180deg);
}

#wrap .submenu_detail.domain ul {
    position: absolute;
    top: 10px;
    right: 0px;
    display: none;
    width: 245px;
    padding-top: 32px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    z-index: 1;
}

#wrap .submenu_detail.domain ul.active {
    display: block;
}

#wrap .submenu_detail.domain ul.active li {
    font-size: 18px;
    font-weight: 600;
    height: 44px;
    line-height: 44px;
    color: #767676;
    background: #ffffff;
}

#wrap .submenu_detail.domain ul.active li.active {
    color: #333333;
}

#wrap .submenu_detail.domain ul.active li:hover {
    color: #767676;
    background: #d4d6ee;
}

#wrap .submenu_detail.grade {
    position: relative;
    text-align: center;
}

#wrap .submenu_detail.grade strong {
    position: relative;
    display: block;
    z-index: 2;
    width: 100%;
    height: 42px;
    background: #d1eae6;
    line-height: 42px;
    color: #38a794;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

#wrap .submenu_detail.grade .toggler {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 18px;
    height: 18px;
    background: url("/content/mathalive_lib/images/cl_carrot_green.jpg");
    transform-origin: center center;
    z-index: 3;
}

#wrap .submenu_detail.grade .toggler.active {
    transform: rotate(-180deg);
}

#wrap .submenu_detail.grade ul {
    position: absolute;
    top: 10px;
    right: 0px;
    display: none;
    width: 245px;
    padding-top: 32px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    z-index: 1;
}

#wrap .submenu_detail.grade ul.active {
    display: block;
}

#wrap .submenu_detail.grade ul.active li {
    font-size: 18px;
    font-weight: 600;
    height: 44px;
    line-height: 44px;
    color: #767676;
    background: #ffffff;
}

#wrap .submenu_detail.grade ul.active li.active {
    color: #333333;
}

#wrap .submenu_detail.grade ul.active li:hover {
    color: #767676;
    background: #d1eae6;
}

#wrap .topic_list {
    display: block;
    background: #f2f2f2;
}

#wrap .topic_list .topic_title {
    display: table;
    width: 478px;
    background: #f2f2f2;
    border-bottom: 2px solid #ffffff;
    color: #333333;
    font-size: 0px;
}

#wrap .topic_list .topic_title h2:after {
    position: absolute;
    top: calc(50% - 7px);
    left: 20px;
    content: " ";
    display: block;
    transform-origin: center center;
    background: url("/content/mathalive_lib/images/cl_mini_carrot.jpg");
    width: 15px;
    height: 15px;
}

#wrap .topic_list .topic_title > .contents {
    display: none;
}

#wrap .topic_list .topic_title.active > .contents {
    display: block;
}

#wrap .topic_list .topic_title.active h2:after {
    transform: rotate(-180deg);
}

#wrap .topic_list .topic_title h2 {
    position: relative;
    padding: 25px 15px 25px 47px;
    white-space: nowrap;
}

#wrap .topic_list .topic_title h2 strong {
    position: relative;
    display: table-cell;
    width: 103px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 600;
}

#wrap .topic_list .topic_title h2 span {
    display: table-cell;
    vertical-align: top;
    font-size: 18px;
    width: calc(100% - 103px);
    white-space: normal;
    letter-spacing: -1px;
    font-weight: 100;
}

#wrap .overflowscroll {
    height: calc(639px);
    overflow: overlay;
}

#wrap .overflowscroll::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

#wrap .overflowscroll::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 5px;
}

#wrap .overflowscroll::-webkit-scrollbar-track {
    background: transparent;
}

#wrap .overflowscroll::-webkit-scrollbar-track-piece {
    background: transparent;
}

#wrap section.books {
    padding: 20px 20px 10px 20px;
    box-sizing: content-box;
}

#wrap section.books > h3 {
    position: relative;
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    width: auto;
    z-index: 1;
    display: table;
    font-weight: 400;
    margin-bottom: 5px;
}

#wrap section.books > h3::after {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: -10px;
    width: calc(100% + 25px);
    height: 15px;
    background: #f0f1bb;
    content: " ";
    display: block;
}

#wrap section.books h4 {
    color: #4f8b00;
    font-size: 16px;
    font-weight: 400;
}

#wrap section.books li {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}

#wrap .topic_box {
    background: #e2e2e2;
    position: relative;
    padding: 47px 60px 37px 32px;
    font-size: 18px;
}

#wrap .topic_box > strong {
    position: absolute;
    left: 32px;
    top: 18px;
    color: #ffffff;
    width: 68px;
    height: 24px;
    line-height: 20px;
    background: #ababab;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    border-radius: 3px;
}

#wrap .topic_box ol {
    color: #333333;
    margin-top: 8px;
}

#wrap .topic_box ol li {
    display: table;
    margin-bottom: 25px;
}

#wrap .topic_box ol li.active *, #wrap .topic_box ol li:hover * {
    color: #e10098;
}

#wrap .topic_box ol li:last-child {
    margin-bottom: 0px;
}

#wrap .topic_box ol .number {
    display: table-cell;
    width: 19px;
    vertical-align: top;
}

#wrap .topic_box ol .con {
    display: table-cell;
    width: calc(100% - 19px);
    vertical-align: top;
}

#wrap .search_result > .title {
    width: 100%;
    height: 49px;
    background: #eaf9d4;
    text-align: center;
    line-height: 49px;
    white-space: nowrap;
    font-size: 0px;
}

#wrap .search_result > .title > span {
    display: inline-block;
    vertical-align: middle;
    color: #5a9f00;
    font-weight: 900;
    font-size: 23px;
    height: 49px;
    line-height: 47px;
}

#wrap .search_result > .title > button {
    display: inline-block;
    vertical-align: middle;
    width: 29px;
    height: 28px;
    border: 0px;
    background: transparent url("/content/mathalive_lib/images/cl_result_arrow.jpg");
    margin-right: 10px;
}

#wrap .search_result .no_result {
    width: 1280px;
    text-align: center;
}

#wrap .search_result .no_result img {
    margin-top: 150px;
}

#wrap .search_result .no_result > * {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 900;
    color: #000000;
}

#wrap .search_result .odd {
    background: #f2f2f2;
}

#wrap .search_result .sectionbox {
    width: 1280px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#wrap .search_result .sectionbox em {
    display: block;
    color: #7e7e7e;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
}

#wrap .search_result .sectionbox > * {
    padding-top: 0px;
    width: 775px;
    margin: auto;
    text-align: left;
}

@charset "UTF-8";
html, body {
    padding: 0px;
    margin: 0px;
    user-select: none;
    border: 0px;
    backface-visibility: hidden;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: NotoSans !important;
    -webkit-font-smoothing: none;
    font-size: 12px;
    overflow: hidden;
    image-rendering: -webkit-optimize-contrast;
    text-rendering: optimizeSpeed;
}

body, h1, h2, h3, h4, input, button {
    /*font-family:Helvetica,Arial,"����",Dotum,sans-serif;*/
    font-size: 12px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, p {
    word-break: break-all;
    word-wrap: break-word;
}

img, fieldset, iframe {
    border: 0 none;
}

button {
    outline: none;
    cursor: pointer;
    font-family: NotoSans !important;
    -webkit-font-smoothing: none;
}

img {
    padding: 0px;
    margin: 0px;
    user-select: none;
    border: 0px;
    outline: 0px solid transparent;
}

div, p {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

#common_audio {
    position: absolute;
    left: 0px;
    right: 0px;
}

#ding_audio {
    position: absolute;
    left: 0px;
    right: 0px;
}

#dingend_audio {
    position: absolute;
    left: 0px;
    right: 0px;
}

#wrap {
    width: 1280px;
    height: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.bg_svg {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
}

.swiper-scrollbar.white {
    background: rgba(0, 0, 0, 0);
    width: 7px;
}

.swiper-scrollbar.white .swiper-scrollbar-drag {
    width: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.swiper-scrollbar.black {
    background: rgba(0, 0, 0, 0);
    width: 7px;
}

.swiper-scrollbar.black .swiper-scrollbar-drag {
    width: 7px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

/*
.common_back{
	background-size: 100% 100%;
	@include btn_down_dis(
		resolve('mathalive_lib/images/btn_back.png'), 
		resolve('mathalive_lib/images/btn_back_down.png'),
		'',
		width('mathalive_lib/images/btn_back.png'),
		height('mathalive_lib/images/btn_back.png')
	);
	&.down{
		transform: scale(1.1, 1.1);
	}
}
*/
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 16px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0.3;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #47F6E9;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

#preload_hidden {
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
}

#preload_hidden .helvetica {
    font-family: HelveticaRounded;
}

#preload_hidden .helveticastd {
    font-family: HelveticaRoundedLTStd;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.none {
    display: none;
}

