#app {
  top: 100px;
}

#app > .md-boards { width: 94%; margin: 0 3% }

.half-card {
  width: 48%;
  margin: 1%;
}

.full-card {
  width: 98%;
  margin: 1%;
}

.half-card .md-card-content, .full-card .md-card-content {
  font-family: 'Noto Sans KR';
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.vs-f-r {
  float: right;
}

.vs-data {
  line-height: 1.5em;
}

.md-boards-content {
  top: 30px;
}

.md-card .md-card-header + .md-card-content {
  height: 280px;
  margin-top: -50px;
  padding-top: 24px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.md-theme-default.md-card {
  /* border: 2px solid #43BCAB; */
  border-radius: 16px;
}

.md-boards .md-board {
  padding: 0 32px;
}

.vs-point-color {
  color: #FDBE53;/*transparent;*/
  /* border: 2px solid #D86C66; */
  border-radius: 4px;
  background-color: #FDBE53;
  font-size: 0.8em;
  letter-spacing: 4px;
}

.md-card-header .md-title.vs-f-r { width: 100%; }

.md-card-header .md-title.vs-f-r .vs-section { 
  float: left;
  margin-left: 20px;
  font-size: 18px;
  color: #666;
  font-weight: 400;
  display: none;
}

.half-card .md-card-content, .full-card .md-card-content {
  font-size: 32px;
  color: #000;
}

.half-card .md-card-content, .full-card .md-card-content.attr_1 .vs-data {
  font-size: 48px;
}

.half-card .md-card-content, .full-card .md-card-content.attr_3 .vs-data {
  text-align: center;
  padding: 0 1em;
}

#vs-setting {
  position: absolute;
  left: 1175px;
  padding: 0;
  margin: 0;
  width: 57px;
  height: 57px;
  text-indent: -9999em;
  background: transparent url(../assets/img/btn_layout_setting.png) no-repeat 0 0;
}
#vs-setting .md-ink-ripple {
  width: 57px;
}

.md-card .md-card-header {
  padding: 0;
  height: 50px;
}

.md-card .md-card-header + .md-card-content.attr_3 {
  height: 230px;
  margin-top: -50px;
  padding-top: 24px;
}

.md-theme-default.md-dialog-container.settings .md-dialog {
  max-width: 768px;
  width: 356px;
  height: 318px;
  background: transparent url(../assets/img/bubble.png) no-repeat 0 0;
  box-shadow: none;
  position: absolute;
  top: 80px;
  left: 905px;
}

.md-theme-default.md-dialog-container .md-dialog h1 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  padding: 40px 40px 0 40px;
  line-height: 34px;
}

.md-theme-default.md-dialog-container .md-dialog .md-layout {
  padding: 0 30px 30px 30px;
}

.md-theme-default.md-dialog-container .md-dialog .md-layout-item {
  background-color: #fff;
  border-radius: 4px;
}

.md-theme-default.md-dialog-container .md-dialog .md-layout-item {
  user-select: none;
  /* width: 100%; */
  height: 75px;
  line-height: 75px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.md-theme-default.md-dialog-container .md-dialog .md-layout-item {
  font-size: 14px;
  color: #333;
}

.md-theme-default.md-dialog-container .md-dialog .md-layout-item.selected {
  color: #FF9B20;
  font-size: 14px;
  /* color: #fff; */
}

.md-backdrop { background: none; }

.small-title {
  /* color: #333; */
  font-size: 14px;  
}

.vs-image img {
  max-width: 516px;
  max-height: 232px;
  object-fit: contain;
}

.border-radius .md-dialog { border-radius: 30px; }
.border-radius .md-dialog button.md-button  { position: absolute; right: -10px; top: 10px; }
.border-radius .md-dialog .modal-img { height: auto !important; }
.border-radius .md-dialog .md-layout { padding: 0 !important; }
.border-radius .md-backdrop { background-color: rgba(0, 0, 0, 0.54); }