#main {
  background-color: #38699e;
}

#app {
  display: grid;
  background-color: #38699e;
}

body.md-theme-default.vs-main-bg {
  background-color: transparent;
}

.vs-main-bg {
  background-color: #315C92;
}

.vs-who-box-bg {
  background-color: #769FC0;
}

.vs-box {
  width: 448px;
  height: 304px;
  margin: 120px 416px 0 416px;
  /* background-color: #fff; */
  /* border: 1px solid #00748A; */
  /* border-radius: 40px; */
}

.vs-box img {
  margin-left: 109px;
}

.vs-box .contents-title {
  width: 448px;
  height: 116px;
  background: transparent url(../assets/img/txtimg_04.png) no-repeat 0 0;
  margin-top: 30px;
  margin-bottom: 60px;
}

.vs-box .md-list {
  width: 100%;
  height: 100%;
  /* color: #DADADA; */
}

.vs-box .md-list-item {
  margin-bottom: 30px;
}

.vs-box .md-list-item-container {
  float: left;
}

.icon-q {
  width: 60px;
  height: 60px;
  background-color: #43BCAB;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Noto Sans KR';
  margin-right: 20px;
  margin-bottom: 0;
}

.vs-box .md-theme-default.md-list {
  background-color: transparent;
  color: #fff;
}

.vs-box .md-list-item-text {
  font-size: 40px;
  font-family: 'Noto Sans KR';
  font-weight: 700;
}

.vs-index-title {
  float: left;
  position: absolute;
  bottom: 130px;
  text-align: center;
  width: 1280px;
  font-size: 40px;
  font-weight: 700;
  line-height: 70px;
  color: #F3C95D;
}

.vs-white-button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 550px;
  height: 316px;
  line-height: 73px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}


.vs-list-button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 204px;
  height: 75px;
  left: calc(50% - 218px/2);
  background: transparent url(../assets/img/btnList.png) no-repeat 0 0;
  position: absolute;
  bottom: 20px;
}
/* 
.vs-list-button:hover {
  background: transparent url(../assets/img/btn_start_select.png) no-repeat 0 0;
} */

.row {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
}

.half-card {
  width: 50%;
  margin-top: 200px;
  text-align: center;
}

.md-theme-default.md-card {
  background-color: #fff;
  border: #1AABA4 1px solid;
  border-radius: 15px;
}

.md-boards-navigation { display: none; }

.vs-radius-20 .md-ink-ripple { margin: 4px 15px 10px 15px; }

.result-center {
  margin-left: 60px;
  float: left;
}