#main {
  /* background-color: #154274; */
  background-color: transparent;
}

#app.index {
  display: grid;
  background-color: transparent;
  top: 50px;
}

body.md-theme-default.vs-main-bg {
  background-color: transparent;
  background: url(../assets/img/background_04.png) no-repeat 0 0;
}

.vs-main-bg {
  background-color: #184372;
}

.vs-who-box-bg {
  background-color: #769FC0;
}

.vs-box {
  width: 400px;
  height: 400px;
  margin: 40px 440px 0 440px;;
  /* background-color: rgba(118, 159, 192, 1); */
  /* border-radius: 40px; */
}

.vs-index-title {
  float: left;
  position: absolute;
  bottom: 230px;
  text-align: center;
  width: 688px;
  height: 118px;
  left: calc(50% - 688px/2);
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  text-indent: -9999em;
  color: #F3C95D;
  background: url(../assets/img/txt_you_got_a_note.png) no-repeat 0 0;
}

.vs-index-tap {
  float: left;
  position: absolute;
  bottom: 130px;
  text-align: center;
  width: 250px;
  height: 65px;
  left: calc(50% - 250px/2);
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #F3C95D;
  border: 3px solid #F3C95D;
  border-radius: 30px;
  cursor: pointer;
}

.vs-white-button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 400px;
  height: 400px;
  line-height: 73px;
}


.vs-list-button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 204px;
  height: 75px;
  left: calc(50% - 218px/2);
  background: transparent url(../assets/img/btnList.png) no-repeat 0 0;
  position: absolute;
  bottom: 20px;
}
/* 
.vs-list-button:hover {
  background: transparent url(../assets/img/btn_start_select.png) no-repeat 0 0;
} */

.row {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
}

.half-card {
  width: 50%;
  margin-top: 200px;
  text-align: center;
}

.md-theme-default.md-card {
  background-color: #fff;
  border: #1AABA4 1px solid;
  border-radius: 15px;
}

.md-boards-navigation { display: none; }


#vs-intro-mov {
  position: absolute;
  width: 1280px;
  height: 800px;
  top: 0;
  left: 0;
}

#vs-button { display: none; }

#svg_img {
  position: absolute;
  left: 410px;
  top: -23px;
}