
.application {
    line-height: 1.5
}

.application--wrap {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative
}

.application.theme--light {
    background: #fafafa;
    color: rgba(0, 0, 0, .87)
}

.application.theme--light a {
    cursor: pointer
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 24px;
    padding: 18px 0 0;
    position: relative;
    width: 100%;
    outline: none;
    transition: box-shadow .3s cubic-bezier(.25, .8, .5, 1)
}

.input-group__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    min-width: 0;
    min-height: 30px
}

.input-group.input-group--slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 16px
}



.input-group.input-group--slider .input-group__input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
}

.input-group .input-group__append-icon, .input-group .input-group__prepend-icon {
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.input-group.input-group--slider.input-group--prepend-icon .slider {
    margin-left: 40px
}

.icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    vertical-align: middle
}


.slider {
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.slider__track__container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    overflow: hidden
}

.slider__track__container:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    width: 2px;
    opacity: 0
}

.slider__thumb, .slider__tick, .slider__track {
    position: absolute;
    top: 0
}

.slider__track {
    -webkit-transform-origin: right;
    transform-origin: right;
    overflow: hidden
}

.slider__track, .slider__track-fill {
    height: 2px;
    left: 0;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    width: 100%
}

.slider__track-fill {
    position: absolute;
    -webkit-transform-origin: left;
    transform-origin: left
}

.slider__ticks-container {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    top: 50%;
    overflow: hidden
}

.slider__tick {
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    opacity: 0
}

.slider__thumb-container {
    position: absolute
}

.slider__thumb, .slider__thumb-container {
    top: 50%;
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.slider__thumb {
    width: 16px;
    height: 16px;
    left: -8px;
    border-radius: 50%;
    background: transparent;
    -webkit-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.slider__thumb--label__container {
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s ease-in-out
}

.slider__thumb--label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50% 50% 0;
    position: absolute;
    left: -14px;
    top: -40px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .3s ease-in-out
}

.slider__thumb--label span {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.slider__track, .slider__track-fill {
    position: absolute
}