#main {
  height: 800px;
}

#app {
  background-color: #522B76;
  height: 800px;
}

#app {
  top: 0;
}

#vs-top {
  height: 0;
}

.bingo_container {
  margin: 40px auto 0;
}

.main_container {
  /* width: 1280px; */
  /*50%;*/
  width: 658px;
  height: 731px;
  background: transparent url(../assets/img/bingobox01.png) no-repeat 0 0;
  margin: 0 auto;
}

.btn_container {
  margin: 20px 0;
}

.btn {
  color: #fff;
  width: 160px;
  height: 48px;
  border-radius: 23px;
  box-shadow: 0 4px 8px 0 #b4d7ff;
  background-color: #218aff;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.center {
  text-align: center;
}

.bingo_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#bingo {
  /* width: 658px;
  padding-top: 118px;
  padding-left: 40px; */
  width: 530px;
  height: 520px;
  position: relative;
  left: 60px;
  top: 140px;
}

.bingo {
  flex: 0 0 19%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
  background-color: #BEB59A;
  border-radius: 20px;
  margin: 10px;
  padding-top: 10px;
  color: #fff;
  text-shadow: 2px 2px 2px #867B5D, -2px -2px 2px #867B5D, 2px -2px 2px #867B5D, -2px 2px 2px #867B5D;
  box-shadow: 0 10px #988E73;
  user-select: none;
}

.active_bingo {
  background-color: #FFAD22;
  box-shadow: 0 10px #FD8F26;
}

#lottie {
  /* width: 658px;
  height: 720px; */
  /* width: 850px;
  height: 531px; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* top: 50px; */
  /* left: calc(50% - 658px / 2); */
  /* top: 200px;
  left: calc(50% - 850px / 2); */
  z-index: -1;
}