#app {
  display: grid;
  background-color: #522B76;
  overflow: hidden;
  height: 700px;
}

body.md-theme-default.vs-main-bg {
  background-color: transparent;
}

.vs-main-bg {
  background-color: #184372;
}

.vs-who-box-bg {
  background-color: #769FC0;
}

.vs-box {
  width: 1080px;
  height: 622px;
  margin: 0 100px 10px 100px;
  /* background-color: #FBCD5C; */
  background-color: transparent;
  border-radius: 40px;
  display: block;
  position: relative;
}

.vs-index-title {
  /* float: left; */
  /* position: fixed; */
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: 100px;
  font-size: 60px;
  font-weight: 700;
  color: #2d2d2d;
}

.vs-white-button {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  /* width: 250px; */
  height: 73px;
  line-height: 78px;
  /* background: transparent url(../assets/img/btn_choice_default.png) no-repeat 0 0; */
}
/* 
.vs-white-button:hover, .vs-white-button.selected {
  background: transparent url(../assets/img/btn_choice_select.png) no-repeat 0 0;
} */

.vs-start-button {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  width: 256px;
  height: 78px;
  line-height: 78px;
  margin-top: 25px;
  left: calc(50% - 256px/2);
  background: transparent url(../assets/img/btn_box_default.png) no-repeat 0 0;
}

.vs-start-button:hover {
  background: transparent url(../assets/img/btn_box_select.png) no-repeat 0 0;
}

.vs-wide-button {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  width: 250px;
  height: 73px;
  line-height: 65px;
  padding: 0;
  margin: 0;
  background: transparent url(../assets/img/btn_level_default.png) no-repeat 0 0;
}
.vs-wide-button:hover, .vs-wide-button.selected {
  background: transparent url(../assets/img/btn_level_select.png) no-repeat 0 0;
}

.vs-short-button {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  width: 160px;
  height: 72px;
  line-height: 65px;
  padding: 0;
  margin: 0;
  background: transparent url(../assets/img/btn_grid_default.png) no-repeat 0 0;
}
.vs-short-button:hover, .vs-short-button.selected {
  background: transparent url(../assets/img/btn_grid_select.png) no-repeat 0 0;
}

.vs-with-line-list > button {
  padding: 0;
  margin: 0 10px;
}

.row {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
}

.half-card {
  width: 50%;
  margin-top: 200px;
  text-align: center;
}

.md-theme-default.md-card {
  background-color: #fff;
  border: #1AABA4 1px solid;
  border-radius: 15px;
}

.md-boards-navigation { display: none; }


.md-button:hover:not([disabled]):not(.md-raised) { background-color: transparent !important; }

.vs-tar { text-align: right !important; }
.vs-tal { text-align: left !important; }
.vs-tac { text-align: center !important; }

body {
  text-align: center;
  background-color: #000;
}

.vs-list-button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 75px;
  height: 75px;
  left: calc(50% - 75px/2);
  background: transparent url(../assets/img/btnList.png) no-repeat 0 0;
  position: absolute;
  bottom: 20px;
  margin: 0;
}

.vs-restart-button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 81px;
  height: 81px;
  right: 40px;
  background: transparent url(../assets/img/btnRestart.png) no-repeat 0 0;
  position: absolute;
  bottom: 20px;
}

.vs-restart-button .md-ink-ripple {
  width: 81px;
}

.vs-box .contents-title {
  width: 372px;
  height: 144px;
  background: transparent url(../assets/img/title_bingo.png) no-repeat 0 0;
  margin-top: 20px;
  margin-left: calc(50% - 372px/2);
  margin-bottom: 60px;
}

#main {
  background-color: #522B76;
}

#user {
  /* display: none; */
  height: 200px;
  display: inline-block;
  margin-left: -15px;
  margin: 0 5px;
}

#user img {
  width: 256px;
  height: 256px;
  object-fit: cover;
  border-radius: 50%;
}

#user p {
  margin-top: 20px;
  font-size: 30px;
  color: #C29E47;
}

#user #imgArea {
  display: table;
  width: 256px;
  height: 256px;
  font-size: 120px;
}

#user .iName {
  display: table-cell;
  justify-content: center;
  vertical-align: middle;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #ffa1a7;
  color: #fff;
}

#user .iName.male {
  background-color: #2cd1c3;
}

#user .iName.female {
  background-color: #ffa1a7;
}